[{:itonami.blueprint/social-impact [:local-jobs :supply-reliability :waste-reduction], :itonami.blueprint/domain :logistics/warehouse-stock, :itonami.blueprint/required-technologies [:robotics :forms :telemetry :optimization :audit-ledger :bpmn], :itonami.blueprint/isco-08 "4321", :itonami.blueprint/name "Independent Warehouse Stock Operations", :itonami.blueprint/governor :warehouse-stock-governor, :itonami.blueprint/robotics true, :db/id -1, :itonami.blueprint/status :public-oss, :itonami.blueprint/id "cloud-itonami-isco-4321", :itonami.blueprint/license "AGPL-3.0-or-later"}]